<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Control - Crear Usuario</title>
    <link rel="icon" type="image/png" href="Imagen/ico.png" />
    <link rel="stylesheet" href="Css/base1.css" />
    <link rel="stylesheet" href="Css/base2.css" />
  </head>

  <body>
    <header>
      <img src="Imagen/Logo.png" alt="Segurity" />
    </header>

    <div class="main-content">
      <h2>CREAR USUARIO NUEVO</h2>
      <form th:object="${user}" th:action="@{/user/guardar}" method="POST" class="form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <!-- Campo de Contraseña -->
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" class="form-control" required />
        </div>

        <!-- Campo de Rol -->
        <div class="form-group">
          <label for="Rol">Rol:</label>
          <input type="text" id="Rol" name="Rol" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="idEmpleado">Empleado:</label>
          <select id="idEmpleado" name="idEmpleado" class="form-control" required>
              <option value="" disabled selected>Seleccione un empleado</option>
              <option th:each="empleado : ${employees}" 
                      th:value="${empleado.idEmpleado}" 
                      th:text="${empleado.nombres}">Empleado</option>
          </select>
      </div>
      



        <button type="submit" class="btn btn-primary">Agregar Usuario</button>
      </form>
    </div>

    <div class="rectangle-container">
      <a href="/user/EstadoUsuario" class="link">Volver</a>
    </div>
  </body>
</html>
