<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Control - Lista de Usuarios</title>
    <link rel="icon" type="image/png" href="/Imagen/ico.png">
    <link rel="stylesheet" href="/Css/base1.css">
    <link rel="stylesheet" href="/Css/base2.css">
    <link rel="stylesheet" href="/Css/tabla.css">
</head>
<body>
    <header>
        <img src="/Imagen/Logo.png" alt="Segurity" />
    </header>

    <div class="navigation-container">
        <a href="/inicio" class="link">Inicio</a>
        <a href="/crearturnos" class="link">Turnos</a>
        <a href="/employee/lista" class="link">Lista Empleados</a>
        <a href="/user/EstadoUsuario" class="link">Lista Usuario</a>
        <a href="/login" class="link">Cerrar sesión</a>
    </div>

    <div class="main-content">
        <h1>Lista de Usuarios</h1>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Contraseña</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.idUser}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.rol}"></td>
                    <td th:text="${user.activo ? 'Activo' : 'Desactivado'}"></td>
                    <td>
                        <form th:action="@{/user/cambiarEstado/{idUser}(idUser=${user.idUser})}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-secondary">Cambiar Estado</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/user/cambiarContrasena/{idUser}(idUser=${user.idUser})}" method="post" style="display: inline;">
                            <input type="password" name="nuevaContrasena" placeholder="Nueva Contraseña" class="form-control" style="width: auto; display: inline-block;" />
                            <button type="submit" class="btn btn-warning">Cambiar Contraseña</button>
                        </form>
                    </td>                    
                </tr>
            </tbody>
        </table>
        <a href="/CrearUsuario" class="btn btn-primary">Crear Usuario Nuevo</a>
    </div>

    <div class="rectangle-container">
    </div>
</body>
</html>
