<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Control - Inicio</title>
    <link rel="icon" type="image/png" href="Imagen/ico.png" />
    <link rel="stylesheet" href="Css/base1.css" />
    <link rel="stylesheet" href="Css/base2.css" />
  </head>

  <body>
    <header>
      <img src="Imagen/Logo.png" alt="Segurity" />
    </header>

    <div class="navigation-container">
      <a href="/inicio" class="link">Inicio</a>
      <a href="/crearturnos" class="link">Turnos</a>
      <a href="/employee/lista" class="link">Lista Empleados</a>
      <a href="/user/EstadoUsuario" class="link">Lista Usuario</a>
      <a href="/login" class="link">Cerrar sesión</a>
    </div>

    <div class="main-content">
      <h2>BIENVENIDO A EL SISTEMA DE SEGURITY ACCESS</h2>
    </div>

    <div class="rectangle-container"></div>
    <footer class="footer">
      <p>&copy; 2030 Todos los derechos reservados</p>
    </footer>
  </body>
</html>
